np.correlate
np.corrcoef
np.cov
np.cumproduct
np.cumsum
np.diff
np.divmod
np.div
np.double
np.split
np.empty
np.ext
np.floor_divide
np.ma
np.math
np.matrix
np.max
np.min
np.median
np.meshgrig
np.mod
np.multiply
np.std standard deviation
np.subtract

In [4]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df = pd.read_excel('weather_data.xlsx')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df = pd.read_excel('weather_data.xlsx', )
df

In [12]:
df.to_csv('random.csv',index=False)
df.to_excel('random.xlsx',index=False)