In [5]:
import json
import pandas as pd
import ipywidgets
import ipywidgets as w
from IPython.display import display

In [8]:
o=pd.read_csv("pairs.csv")
io=[]
for i in range(0,69):
   io.append( list(o['Instrument Name'])[i].split())
instruments=[]
for i in range(69):
    instruments.append(io[i][0])
instruments[0:3]

['EUR_ZAR', 'EUR_PLN', 'AUD_JPY']

In [11]:
def datafetching(ins,con,gran):
    import pandas as pd
    import oandapyV20
    import oandapyV20.endpoints.instruments as instruments
    #client = oandapyV20.API(access_token="ae9350a9996c4ef6d9ad3a1bc39e12ed-8c1789ca29b12194796b6bff271831f0")
    client = oandapyV20.API(access_token="ae9350a9996c4ef6d9ad3a1bc39e12ed-8c1789ca29b12194796b6bff271831f0")
    params = {"count":con,"granularity":str(gran)}
    r = instruments.InstrumentsCandles(instrument=str(ins),params=params)
    client.request(r)
    #print r.response
    h=r.response

    l=[]

    for i in range(len(h["candles"])):
        k=(h["candles"][i]["mid"])
        l.append(k.values())
        l[i].append(h['candles'][i]['volume'])
        l[i].append(h['candles'][i]['time'])
        #u=dict(zip(range(len(l)),l))
    print ins
    return pd.DataFrame(l,columns=["Close","high","Low","Open","volume","time"])

In [13]:
p=datafetching("EUR_USD",5,"M10")
p

EUR_USD

     Close     high      Low     Open  volume                            time
0  1.12108  1.12022  1.11972  1.12099     899  2019-08-08T14:40:00.000000000Z
1  1.12026  1.11998  1.11932  1.12019     544  2019-08-08T14:50:00.000000000Z
2  1.12134  1.12110  1.11996  1.12000     469  2019-08-08T15:00:00.000000000Z
3  1.12198  1.12170  1.12098  1.12108     295  2019-08-08T15:10:00.000000000Z
4  1.12186  1.12156  1.12146  1.12172     104  2019-08-08T15:20:00.000000000Z